/* 自定义 CSS 重置 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
  width: 100%;
  
}

body,
.container,
.site-header {
  max-width: none !important;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
}

input,
button {
  border: none;
  outline: none;
}
